.signup{
   align-items: center;
   justify-content: center;
}

.box{
    float: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}
.button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: skyblue;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}